* {
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./pictures/background.jpg);
  background-position-y: -290vh;
  background-size: 200%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

#mouse {
  background-image: url(./pictures/mouse.png);
}

#candy {
  background-image: url(./pictures/candy.png);
}

#mouse,
#candy {
  background-size: 80%;
  background-repeat: no-repeat;
  background-position-x: 40%;
  background-position-y: 40%;
}

h1 {
  margin: 7vh;
  color: white;
  font-size: 4rem;
}

#total {
  color: white;
  font-size: 3rem;
  margin: 5vh;
}

.solvedMazes {
  margin-top: 10vh;
}
